<head>
  <meta charset="UTF-8">
  <title><%= data.title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="ThatsOurJake Blog">
  <meta name="description" content="A place that documents what projects I'm working on and their outcomes">
  <meta name="keywords" content="thatsourjake,tech blog,blogging">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="15 days">
  <meta name="author" content="Jake King">
</head>
