<header class="px-6 py-4 bg-pink-200 u-flex u-justify-space-between">
  <div id="logo">
    <a href="/" class="text-black font-black">thatsourjake.blog</a>
  </div>
  <div class="u-flex-end">
    <a class="text-black underline-hover" href="/">Home</a>
    <a class="text-black underline-hover" href="/articles">Articles</a>
  </div>
</header>
