@use "sass:map";
@use "cirrus-ui/src/cirrus-all" as *;

@mixin loop-mq() {
  @content;
  @each $key, $value in $default-breakpoints {
    @media (min-width: #{$value}) {
      &-#{$key} {
        @content;
      }
    }
  }
}

p, li, h1, h2, h3, h4, h5, h6, a, bdt {
  font-family: 'Quicksand', sans-serif;
}

#logo a {
  font-family: 'Poppins', sans-serif;
}

.aspect-1 {
  aspect-ratio: 1;
}

.rotate-30 {
  transform: rotate(30deg);
}

.rotate-m-30 {
  transform: rotate(-30deg);
}

.rotate-15 {
  transform: rotate(15deg);
}

.rotate-m-15 {
  transform: rotate(-15deg);
}

.rotate-m-45 {
  transform: rotate(-45deg);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-center {
  margin: 0 auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 1 through 10 {
  $key: $i * 10;
  
  .h-#{$key}vh {
    @include loop-mq {
      height: #{$key}vh;
    }
  }
}

@for $i from 1 through 10 {
  $key: $i * 10;
  
  .min-h-#{$key}vh {
    @include loop-mq {
      min-height: #{$key}vh;
    }
  }
}

.underline-hover:hover {
  text-decoration: underline;
}

.commentbox {
  height: 0;

  iframe {
    height: 100%;
  }
}

article table {
  @extend .table;
  @extend .bordered;
}

article img {
  width: 50%;

  @media (min-width: map.get($default-breakpoints, $sm)) {
    width: 25%;
  }
}

// TODO show galleries on mobile
article iframe {
  display: none;

  @media (min-width: map.get($default-breakpoints, $sm)) {
    display: block;
  }
}
